*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.mod
*.smod
*.lai
*.la
*.a
//*.lib
*.exe
*.out
*.app
.vs
*.user
x64
*.ilk
*.pdb
*.exp
*.iobj
*.ipdb
imgui.ini
bin/d3d12ma.json
bin/d3d12ma.png
GPUCache
VTune Profiler Results
debug.log
bin/rendergraph
*.aps
bin/RealEngine.lib
bin/nvngx_dlss.dll
bin/XeFX_Loader.dll
bin/libxess.dll
bin/igxess.dll
bin/XeFX.dll
bin/log.txt
build
bin/NRD.dll
bin/Jolt.dll
bin/tools/graphviz/rendergraph.html
external/oidn/bin
external/oidn/doc
external/oidn/include
external/oidn/lib
bin/OpenImageDenoise.dll
bin/OpenImageDenoise_core.dll
bin/OpenImageDenoise_device_cpu.dll
bin/OpenImageDenoise_device_cuda.dll
bin/OpenImageDenoise_device_hip.dll
bin/OpenImageDenoise_device_sycl.dll
bin/OpenImageDenoise_device_sycl_xehpg.dll
bin/OpenImageDenoise_device_sycl_xelp.dll
bin/pi_level_zero.dll
bin/pi_win_proxy_loader.dll
bin/sycl7.dll
bin/tbb12.dll
bin/tbbbind.dll
bin/tbbbind_2_0.dll
bin/tbbbind_2_5.dll
.DS_Store
_Build
bin/ffx_fsr2_api
