[submodule "external/DLSS"]
	path = external/DLSS
	url = https://github.com/NVIDIA/DLSS.git
[submodule "external/xess"]
	path = external/xess
	url = https://github.com/intel/xess.git
[submodule "external/RayTracingDenoiser"]
	path = external/RayTracingDenoiser
	url = https://github.com/zhaijialong/RayTracingDenoiser.git
[submodule "external/JoltPhysics"]
	path = external/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "external/MetalShaderConverter"]
	path = external/MetalShaderConverter
	url = https://github.com/zhaijialong/MetalShaderConverter.git
