*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.mod
*.smod
*.lai
*.la
*.a
//*.lib
*.exe
*.out
*.app
.vs
*.user
x64
*.ilk
*.pdb
*.exp
*.iobj
*.ipdb
imgui.ini
bin/d3d12ma.json
bin/d3d12ma.png
GPUCache
VTune Profiler Results
debug.log
bin/rendergraph
*.aps
bin/RealEngine.lib
bin/nvngx_dlss.dll
bin/XeFX_Loader.dll
bin/libxess.dll
bin/igxess.dll
bin/XeFX.dll
bin/log.txt
build
bin/NRD.dll
